<h1>New list</h1>



<p> you are logged in as <%= current_user.inspect %> </p>


 <% if !current_user.nil? %>
      <%= render 'lists/form' %>
    <% else %>
      <p>You must create an account and log in to access this feature.</p>
      <%= link_to 'Log in', new_session_path %>
    <% end %>


<%= link_to 'Back', lists_path %>
