
<h2> Welcom to todo.com, the site to create lists, and tasks associated with those lists, please log on to access the content </h2>
<%= form_for(User.new, method: :post, url: sessions_path) do |f| %>
  <label>
    Email
    <%= f.text_field :email, placeholder: 'Email address' %>
  </label>
  <label>
    Password
    <%= f.password_field :password, placeholder: 'Password' %>
  </label>
  <%= button_tag 'Log in', class: 'button', type: 'submit' %>
<% end %>
